<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="SMEExportImportService.ExportWord">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:6667/ExportWord/"/>
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="" binding="wsHttpBinding" contract="SMEExportImportService.IWord">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="SMEExportImportService.UploadToCore">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:6667/UploadToCore/"/>
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="http://localhost:6667/UploadToCore/" binding="wsHttpBinding" contract="SMEExportImportService.IUploadToCore">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <!-- <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup> -->
  <appSettings>
    <!--
    <add key="conn" value="Data Source=(local);Initial Catalog=PUNDI_LOSSME;uid=psa;pwd=dmscorp;Pooling=true"/>
    <add key="connME" value="Data Source=(local);Initial Catalog=PUNDI_LOSSME;uid=psa;pwd=dmscorp;Pooling=true"/>
    <add key="connectionString" value="Data Source=(local);Initial Catalog=PUNDI_LOSSME;uid=psa;pwd=dmscorp;Pooling=true"/> 
    -->
    <add key="conn" value="Data Source=(local);Initial Catalog=LOSSME3;uid=psas;pwd=asolcorp;Pooling=true"/>
    <add key="eSecurityConnectString" value="Data Source=(local);Initial Catalog=LOSSME-OLD3;uid=psas;pwd=asolcorp;Pooling=true"/>
    <add key="ModuleID" value="01"/>
    <add key="ServerUrl" value="http://localhost/ReportServer" />
    <add key="ReportUser" value="Mas Sofyan" />
    <add key="ReportPassword" value="Nayf0s" />
    <add key="DomainName" value="localhost" />
    <add key="serverPath" value="C:\inetpub\wwwroot\SME"/>
    <add key="alfabitPathDownload" value="C:\alfabitdownload"/>
    <add key="alfabitPathUpload" value="C:\alfabit"/>
    <add key="alfabitPathLog" value="C:\alfabitlog"/>

    <add key="ftpip" value="C:\alfabit"/>
    <add key="ftpfolder" value="C:\alfabit"/>
    <add key="ftpusername" value="C:\alfabit"/>
    <add key="ftppassword" value="C:\alfabit"/>

    <add key="AlphabitScanningDownloadFolder" value="5000"/>
  </appSettings>
</configuration>
